/* Styling the overall layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

.chatbot-container {
    width: 400px;
    max-width: 92%;
    margin: 50px auto;
    background-color: #111;
    border: 1px solid #0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #0f0;
}

.chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #0f0;
    font-family: "Times", serif;
}

.chatbot-header h2 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: #00ff00;
    text-shadow: 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #00ff00;
    text-indent: 15pt;
}

.chatbox {
    height: 480px;
    background-color: rgba(6, 6, 21, 0.8);
    border-top: 2px solid #ffa500;
    overflow-y: auto;
    padding: 10px;
}

.chat {
    margin: 10px 0;
    display: flex;
    align-items: center;
    animation: fadeIn 0.5s forwards;
}

.chat.incoming .material-symbols-outlined {
    margin-right: 10px;
    color: #00ff00;
}

.chat p {
    background-color: #111;
    color: #00ff00;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat.outgoing p {
    background-color: #0f0;
    color: #000;
    margin-left: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #333;
    border-top: 1px solid #00ff00;
}

.chat-input textarea {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    resize: none;
    background-color: #222;
    color: #fff;
}

.send-icon {
    padding-top: 7px;
    font-size: 24px;
    color: #0f0;
    margin-left: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    color: #ff1493;
    font-family: 'Courier New', Courier, monospace;
}

footer .creator-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff69b4;
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff1493, 0 0 30px #ff1493;
    letter-spacing: 2px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
